#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  max-width: 300px;
  position: relative;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
  border: 1px solid #00ff00;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ff0000, #ffffff);
  opacity: 0.25;
}

.card-content {
  z-index: 1; /* Поместите контент поверх фона */
}

.card-content img,
.card-content h5,
.card-content p {
  /* Примените необходимые стили для текста и изображения */
  margin: 0;
  padding: 0;
  /* Добавьте необходимые стили */
}



body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.gifer.com/DN4a.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: auto;
}
/* //Ильюха  */
.garland {
  position: absolute;
  content: '';
  height: 100%;
  width: 4px;
  background: linear-gradient(to bottom, #ffea00, #ff00e1);
  animation: garlandAnimation 1s infinite alternate;
}

.left-garland {
  left: -10px;
}

.right-garland {
  right: -10px;
}

@keyframes garlandAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.elbrus:hover {
  filter: drop-shadow(0 0 2em rgb(103, 49, 251));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
